In [1]:
import pandas as pd

In [ ]:
data = {
    "Student_ID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Name": ["Arun", "Priya", "Kumar", "Divya", "Sanjay", "Meena", "Rajesh", "Anita", "Vignesh", "Swathi"],
    "Age": [20, 21, 22, 20, 23, 21, 22, 23, 20, 21],
    "Department": ["CS", "IT", "CS", "ECE", "MECH", "IT", "CS", "AI/ML", "ECE", "CS"],
    "Attendance(%)": [90, 85, 92, 88, 80, 95, 78, 91, 84, 89],
    "Marks": [85, 90, 78, 92, 88, 75, 60, 89, 82, 95]
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
print(df.head(2))

   Student_ID   Name  Age Department  Attendance(%)  Marks
0           1   Arun   20         CS             90     85
1           2  Priya   21         IT             85     90

In [ ]:
print(df.tail(5))

   Student_ID     Name  Age Department  Attendance(%)  Marks
5           6    Meena   21         IT             95     75
6           7   Rajesh   22         CS             78     60
7           8    Anita   23      AI/ML             91     89
8           9  Vignesh   20        ECE             84     82
9          10   Swathi   21         CS             89     95